# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Django
*.log
logs/
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.local
.env.production
!.env.example
!.env.local.example
!.env.production.example

# Model files
models/*.h5
models/*.save

# IDE
.idea/
.vscode/
*.swp
*.swo

# Backup files
*~
*.bak
